@model Shop.Models.Accounts.ChangePasswordViewModel

<h2 class="mt-5 text-white">Change Password</h2>
<hr />
<div class="row">
	<div class="col-md-5">
		<form method="post">
			<div asp-validation-summary="All" class="text-danger"></div>
			<div class="form-check-group">
				<input asp-for="CurrentPassword" class="form-control mb-2" placeholder="Current Password" />
				<span asp-validation-for="CurrentPassword" class="text-danger"></span>
			</div>
			<div class="form-check-group">
				<input asp-for="NewPassword" class="form-control mb-2" placeholder="New Password" />
				<span asp-validation-for="NewPassword" class="text-danger"></span>
			</div>
			<div class="form-check-group">
				<input asp-for="ConfirmPassword" class="form-control mb-2" placeholder="Confirm Password" />
				<span asp-validation-for="ConfirmPassword" class="text-danger"></span>
			</div>
			<button type="submit" class="btn btn-details">
				Update
			</button>
		</form>
	</div>
</div>
