@model Shop.Models.Accounts.RegisterViewModel

@{
	ViewBag.Title = "User Registration";
}

<div class="card crud-card col-md-5 pe-3 ps-3 mt-5">
	<div class="row text-white col-md-12">
		<h1 class="mt-2 mb-2">User Registration</h1>
		<hr />
			<form method="post"> 
				<div asp-validation-summary="All" class="text-danger"></div>
				<div class="form-group mb-2">
					<input asp-for="Email" class="form-control" placeholder="Email" />
					<span asp-validation-for="Email" class="text-danger"></span>
				</div>

				<div class="form-group mb-2">
					<input asp-for="Password" class="form-control" placeholder="Password" />
					<span asp-validation-for="Password" class="text-danger"></span>
				</div>

				<div class="form-group mb-2">
					<input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Password" />
					<span asp-validation-for="ConfirmPassword" class="text-danger"></span>
				</div>

				<div class="form-group">
					<input asp-for="Name" class="form-control" placeholder="Name" />
				</div>

				<div class="form-group">
					<input asp-for="City" class="form-control" placeholder="City" />
				</div>
				<button type="submit" class="btn btn-create mt-3 mb-3">
					Register
				</button>

			</form>
	</div>
</div>
