@model Shop.Models.Spaceships.ImageViewModel

@{
    var photoPaths = "~/multipleFileUpload/" + (Model.FilePath ?? "noimage.jpg");
}

<div class="col-sm-3 mt-3">
    <div class="image-container position-relative">
        <img class="card-image-top img-fluid" src="@photoPaths" asp-append-version="true" />
    </div>
</div>